[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-storeman
Exec=harbour-storeman
Name=Storeman
X-Maemo-Service=harbour.storeman.service
X-Maemo-Object-Path=/harbour/storeman/service
X-Maemo-Method=harbour.storeman.service.openPage

[X-Sailjail]
Sandboxing=enabled
Permissions=Internet;Notifications;Secrets;Connman;ApplicationInstallation;MediaIndexing;Downloads;Documents
OrganizationName=harbour-storeman
ApplicationName=Storeman
DataDirectory=harbour-storeman
#ApplicationName=harbour-storeman
ExecDBus=/usr/bin/harbour-storeman

[X-HarbourBackup]
BackupPathList=.config/harbour-storeman/:.local/share/harbour-storeman/

