[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-storeman
Exec=/usr/bin/sailjail --trace=\\$XDG_RUNTIME_DIR/storeman-trace -p harbour-storeman.desktop /usr/bin/harbour-storeman
Name=Storeman Debug
X-Maemo-Service=harbour.storeman.service
X-Maemo-Object-Path=/harbour/storeman/service
X-Maemo-Method=harbour.storeman.service.openPage

[X-Sailjail]
Sandboxing=enabled
# Reference: https://github.com/sailfishos/sailjail-permissions#permissions
# Permissions are listed in the order they appear there.  Unsure if `AppLaunch` is needed, because
# the description does not fit to its name.  Even less sure about `MediaIndexing` and `Connman`.
# `UserDirs` is not used, because we do not want access to Music, Pictures and Videos.
# Added `WebView;Base;Compatibility;GnuPG;Privileged` only to this `debug.desktop` file.
Permissions=AppLaunch;ApplicationInstallation;Documents;Downloads;Internet;MediaIndexing;PublicDir;RemovableMedia;Secrets;WebView;Base;Compatibility;Connman;GnuPG;Notifications;Privileged;Sharing
# specifying nothing will just use the same as previously - might be read-only though...
# see https://github.com/storeman-developers/harbour-storeman/issues/236#issuecomment-1072823747
#OrganizationName=harbour-storeman
#ApplicationName=harbour-storeman
# this is interesting: what does DataDirectory do exactly?
#ApplicationName=Storeman
#DataDirectory=harbour-storeman
ExecDBus=/usr/bin/sailjail --trace=\\$XDG_RUNTIME_DIR/storeman-dbus-trace -p harbour-storeman.desktop /usr/bin/harbour-storeman

[X-HarbourBackup]
BackupPathList=.config/harbour-storeman/:.local/share/harbour-storeman/

